include "drbd.d/global_common.conf";
include "drbd.d/*.res";

resource {{ group_names[1] }} {
  protocol C;

  startup {
    degr-wfc-timeout 120;
  }

  disk {
    on-io-error detach;
  }

  syncer {
    rate 10M;
    al-extents 257;
  }
{% for host in groups[group_names[1]] %}

  on {{ hostvars[host]['ansible_hostname'] }} {
    device        /dev/drbd0;
    disk          /dev/data/{{ group_names[1] }};
    address       {{ hostvars[host]['ansible_default_ipv4']['address'] }}:7788;
    meta-disk     /dev/{{ block_device }}1[0];
  }
{% endfor %}
}
