{{ hostvars[groups[group_names[0]][0]]['ansible_hostname'] }} FloatingIP::/etc/openstack/nova.conf drbddisk::{{ group_names[0] }} Filesystem::/dev/drbd0::/data::ext4 {{ lookup('file','roles/'+ group_names[0] +'/vars/service') }}
