{{ hostvars[groups[group_names[1]][0]]['ansible_hostname'] }} FloatingIP::/etc/openstack/nova.conf drbddisk::{{ group_names[1] }} Filesystem::/dev/drbd0::/data::ext4 {% if group_names[1] == 'tnfs' %} nfs-kernel-server {% else %} mysql {% endif %}
